# A Simple Example of Clustering

You are given much more country data. Using the same methodology as the one in the lecture, group all the countries in 2 clusters. 

Try with other numbers of clusters and see if they match your expectations. Maybe 7 is going to be a cool one!

Plot the data using the <i> c </i> parameter to separate the data by the clusters we defined.  

<i> Note: c stands for color <i>

## Import the relevant libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

## Load the data

Load data from the csv file: <i> 'Countries_exercise.csv'</i>.

In [4]:
# Load the data
raw_data = pd.read_csv('Countries-exercise.csv')
# Check the data
raw_data

                        name   Longitude   Latitude
0                      Aruba  -69.982677  12.520880
1                Afghanistan   66.004734  33.835231
2                     Angola   17.537368 -12.293361
3                   Anguilla  -63.064989  18.223959
4                    Albania   20.049834  41.142450
5                      Aland   19.953288  60.214887
6                    Andorra    1.560544  42.542291
7       United Arab Emirates   54.300167  23.905282
8                  Argentina  -65.179807 -35.381349
9                    Armenia   44.929933  40.289526
10            American Samoa -170.718026 -14.304460
11                Antarctica   19.921090 -80.508579
12   Ashmore and Cartier Is.  123.583838 -12.429932
13    Fr. S. Antarctic Lands   69.226668 -49.248955
14         Antigua and Barb.  -61.794693  17.277500
15                 Australia  134.491000 -25.732887
16                   Austria   14.126476  47.585494
17                Azerbaijan   47.545999  40.288272
18                   Burundi   29.875122  -3.359397
19                   Belgium    4.640651  50.639816
20                     Benin    2.327853   9.641760
21              Burkina Faso   -1.754566  12.269538
22                Bangladesh   90.238127  23.867312
23                  Bulgaria   25.215529  42.768903
24                   Bahrain   50.541969  26.042051
25                    Canada  -98.307770  61.362063
26                   Bahamas  -76.628430  24.290367
27          Bosnia and Herz.   17.768767  44.174501
28            St-BarthÃ©lemy  -62.840678  17.898805
29                   Belarus   28.032093  53.531314
..                       ...         ...        ...
211                     Chad   18.644925  15.333338
212                     Togo    0.962328   8.525314
213                 Thailand  101.002881  15.118158
214               Tajikistan   71.013626  38.530454
215             Turkmenistan   59.371000  39.115541
216              Timor-Leste  125.844390  -8.828892
217                    Tonga -174.809873 -20.428432
218      Trinidad and Tobago  -61.265679  10.457334
219                  Tunisia    9.552884  34.119562
220                   Turkey   35.168953  39.061603
221                   Taiwan  120.954273  23.753993
222                 Tanzania   34.813100  -6.275654
223                   Uganda   32.369080   1.274693
224                  Ukraine   31.383265  48.996567
225                  Uruguay  -56.018071 -32.799515
226            United States -112.461674  45.679547
227               Uzbekistan   63.140015  41.755542
228                  Vatican   12.433872  41.901750
229       St. Vin. and Gren.  -61.201297  13.224723
230                Venezuela  -66.181841   7.124224
231       British Virgin Is.  -64.471470  18.525858
232          U.S. Virgin Is.  -64.803015  17.955006
233                  Vietnam  106.299147  16.646017
234                  Vanuatu  167.686446 -16.226409
235    Wallis and Futuna Is. -177.348348 -13.887370
236                    Samoa -172.164851 -13.753243
237                    Yemen   47.586762  15.909280
238             South Africa   25.083901 -29.000341
239                   Zambia   27.774759 -13.458242
240                 Zimbabwe   29.851441 -19.004204

[241 rows x 3 columns]

Remove the duplicate index column from the dataset.

In [7]:
data = raw_data.copy()

## Plot the data

Plot the <i>'Longtitude'</i> and <i>'Latitude'</i> columns.

In [ ]:
plt.scatter(data['Longitude'], data['Latitude'])
plt.xlim(-180,180)
plt.ylim(-90, 90)
plt.show()

## Select the features

Create a copy of that data and remove all parameters apart from <i>Longitude</i> and <i>Latitude</i>.

In [ ]:
x = data.iloc[:,1:3]
x

## Clustering

Here's the actual solution: 

Simply change <i> kmeans = KMeans(2) </i> to <i> kmeans = KMeans(3) </i>. 

Then run the remaining kernels until the end.

In [ ]:
kmeans = KMeans(7)

In [ ]:
kmeans.fit(x)

### Clustering Resutls

In [ ]:
identified_clusters = kmeans.fit_predict(x)
identified_clusters

In [ ]:
data_with_clusters = data.copy()
data_with_clusters['Cluster'] = identified_clusters
data_with_clusters

In [ ]:
plt.scatter(data['Longitude'], data['Latitude'],c=data_with_clusters['Cluster'], cmap = 'rainbow')
plt.xlim(-180,180)
plt.ylim(-90, 90)
plt.show()